<div class="page">
  <div class="left-container">
    <div class="input-box">
      <form (ngSubmit)="onSubmit()" #info="ngForm">
        <div class="form-info">
          <div id="personal-data" ngModelGroup="personalData" #personalData="ngModelGroup">
            <div class="form-pair">
              <label for="username">Username</label>
              <input type="text" id="username" class="form-input" ngModel name="username" required minlength="5" #username="ngModel">
              <span *ngIf="!username.valid && username.touched" class="warning">
                Username too short.
              </span>
            </div>
            <div class="form-pair">
              <label for="password">Password</label>
              <input type="password" id="password" class="form-input" ngModel name="password">          
            </div>
            <button type="button" class="btn" (click)="suggestUsername()">Generate a username</button>
            <div class="form-pair">
              <label for="email">Email</label>
              <input type="email" id="email" class="form-input" ngModel name="email" required email #email="ngModel">
              <span *ngIf="!email.valid && email.touched" class="warning">
                Please enter a valid email address.
              </span>
            </div>
            <div class="form-pair">
              <label for="phone">Phone Number</label>
              <input type="number" id="phone" class="form-input" ngModel name="number">
            </div>
          </div>
            <hr>
          <div id="account-data" ngModelGroup="accountData" #accountData="ngModelGroup">
            <div class="form-pair">
              <label for="secretQuestion">Secret Question</label>
              <select id="secretQuestion" class="form-input select" [ngModel]="defaultPick" name="secretQuestion">
                <option value="pet">What is your first pet's name?</option>
                <option value="drink">What is your favorite drink?</option>
                <option value="maidenName">What is your mother's maiden name?</option>
                <option value="birthday">When is your birthday?</option>
              </select>
              <div class="form-pair">
                <textarea name="secretAnswer" rows="3" class="form-input textarea" ngModel name="secretAnswer">
                </textarea>
              </div>
            </div>
            <div class="form-pair">
              <b>Gender:</b><br>
              <label for="genders" *ngFor="let gender of genders">
                <input type="radio" name="gender" ngModel [value]="gender" required/>
                {{gender}}
              </label>
            </div>
            <div class="form-pair">
              <label for="job">Job</label>
              <input type="text" id="job" class="form-input" ngModel name="job">
            </div>
            <div class="form-pair">
              <label for="job">Job Description
                <textarea name="jobDescription" rows="3" class="form-input textarea" ngModel name="jobDescription">
                </textarea>
              </label>
            </div>
            <div class="form-pair">
              <label for="salary">Salary</label>
              <input type="number" id="salary" class="form-input" ngModel name="salary">
            </div>
          </div>
          <button [disabled]="!info.valid" type="submit" class="btn">Submit</button>
        </div>
      </form>
    </div>
  </div>
  <div class="right-container" *ngIf="submitted">
    <div class="display-box">
      <h1>Your Information</h1>
      <p><b>Username:</b> {{userInfo.UserName}}</p>
      <p><b>Password:</b> {{userInfo.PassWord}}</p>
      <p><b>Email:</b> {{userInfo.Email}}</p>
      <p><b>Phone Number:</b> {{userInfo.PhoneNumber}}</p>
      <hr>
      <p><b>Secret Question:</b> {{userInfo.SecretQuestion}}</p>
      <p><b>Secret Answer:</b> {{userInfo.SecretAnswer}}</p>
      <p><b>Gender:</b> {{userInfo.Gender}}</p>
      <p><b>Job:</b> {{userInfo.Job}}</p>
      <p><b>Job Description:</b> {{userInfo.JobDescription}}</p>
      <p><b>Salary:</b> Php {{userInfo.Salary}}</p>
    </div>
  </div>
</div>